<div class="service-card">
      <h3>Mechanical Services</h3>
    <p>
        We provide comprehensive mechanical services to ensure your equipment meets all safety and quality standards. Our certified professionals use advanced tools for accurate results.
    </p>
    <!-- Content above the image -->
    <div class="intro-content">
        <p>
            Our Mechanical Services are designed to guarantee reliability and compliance for your operations.
        </p>
    </div>
    <div class="image-container">
        <img src="../../assets/images/Mechanical Services.jpeg" alt="Mechanical Services" class="small-image">
    </div>
  
</div>