.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.small-image {
    max-width: 200px;
    height: auto;
}