<div id="home" class="video-background-container">
  <!-- Background Image -->
  <img src="../../assets/images/cargo-ship-navigating-ocean.jpg" 
       alt="Background Image" 
       class="video-background">

  <!-- Overlay Content (Top Left, directly on background) -->
   <div class="video-overlay-content top-left">
    <h1 class="company-title">
      <span class="big-letter">P</span>NEUCON <span class="big-letter">E</span>NGINEERING PTE LTD
    </h1>
    <h2 class="company-subtitle">(SINGAPORE, MALAYSIA)</h2>
    <p class="company-description">
      Established in 2004, Pneucon Engineering Pte Ltd has conclusively proven through the years
      that when it comes to professional quality of work and service in Main Engine Maneuvering Remote Control System, Automation System and Trading.
    </p>
  </div>
</div>
