<nav class="navbar navbar-expand-lg custom-navbar-bg">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    
    <!-- Navigation Links -->
    <ul class="navbar-nav nav-center">
      <li class="nav-item">
        <a class="nav-link nav-underline active" routerLink="/home" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-underline" [routerLink]="['/about']" routerLinkActive="active">ABOUT US</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link nav-underline" routerLink="/services" routerLinkActive="active" role="button">
          SERVICES <span class="dropdown-arrow">▼</span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/inspection">Inspection And Testing</a></li>
          <li><a class="dropdown-item" routerLink="/electricalServices">Electrical Services</a></li>
          <li><a class="dropdown-item" routerLink="/mechanicalServices">Mechanical Services</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-underline" routerLink="/gallery">GALLERY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-underline" routerLink="/contact" routerLinkActive="active">CONTACT US</a>
      </li>
    </ul>

    <!-- Logo + Text moved to right -->
    <a class="navbar-brand d-flex flex-column align-items-end" href="#">
      <img src="../../assets/images/Logo.png" alt="Pneucon Logo" class="nav-logo">
      <span class="company-name">PNEUCON ENGINEERING PTE LTD</span>
    </a>

  </div>
</nav>
